body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background: linear-gradient(to bottom, #87ceeb, #ffffff);
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
#game-container {
  margin: auto;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
header {
  background: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 15px 15px 0 0;
}
button {
  font-size: 16px;
  background: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
button:hover {
  background: #45a049;
}